# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\software-udvikling-anden-semester\soft2018fall-dm-teaching-material\MAL_assignment_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
